{% extends "layout.html" %}{% block content %}
<button id="modelChange" value={{model_path}} style="display: block;"></button>

<div id="opening">
    <div id="openingContents">
        <img src="../static/images/logo.png" alt="URoidChat">
        <p id="openingText"><span>Produced</span><span>by</span><span>team</span><span>UDN</span></p>
    </div>
</div>

<div id="header">
    <img src="../static/images/logo.png" alt="URoidChat" decoding="async">
    <div id="btnArea">
        <div id="btnFlex">
            <button id="recNow" class="iconBtn" disabled style="display: none;"><span class="material-icons">radio_button_checked</span></button>
            <button id="downloadBtn" class="iconBtn"><span class="material-icons">photo_camera</span></button>
            <div id="muteBtn" class="iconBtn">
                <button id="unmute"><span class="material-icons">volume_up</span></button>
            </div>
        </div>
    </div>
</div>

<form class="back2topBtn" action="/top" method="POST">
    <button type="submit"><span class="material-icons">arrow_back</span></button>
</form>

<div id="mainArea">
    <div id="modelArea">
    </div>
    <div id="chatArea">
        <div id="chatLogs">
        </div>
        <form id="chatSubmitForm" name="example_form" onsubmit="return false;">
            <div id="chatSubmitFormItem">
                <input type="text" id="chatMessage" name="chatMessage" value="" placeholder="Ctrl+Enter で送信">
                <button id="recStart_" class="recordBtn chatBtn"><span class="material-icons">mic</span></button>
                <button id="recStop_" class="recordBtn chatBtn" style="display:none"><span class="material-icons">mic_off</span></button>
                <button id="chatSubmitBtn" class="chatBtn" onclick="changeHandler(document.getElementById('chatMessage'))"><span class="material-icons">send</span></button>
            </div>
        </form>
    </div>
</div>

<script id="NPscript">var NP = 0;</script>
<script id="ALL_NPscript">ALL_NP = 0;</script>
<script id="facecheckbool">check = '0';</script>
<script id="base_message">check = '0';</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
<script src="static/webpack/build_chat.js"></script>
<script>
    // グローバル関数を定義
    var path = 'path!!'

    // 0のときは再生、1のときはミュート
    var mute_num = 0

    // チャット機能
    function changeHandler(input_value) {
        const chatMessage = $(input_value).serialize();

        // 送受信時間
        var sendTime = new Date();
        var Hour = sendTime.getHours();
        var Min = sendTime.getMinutes();
        Min = String(Min)

        // 0〜9分なら頭に0を付ける
        if(Min.length == 1){
            Min = '0' + Min
        }

        // 空白でsubmitした時の処理
        if (input_value.value == '') {
            var null_message = 'ちょっとよく聞こえなかったから、もう一回言ってほしいな〜'

            // 返事の表示
            $("#chatLogs").append("<div id='chatTimeGet'><div id='getMessage' class='chatMessage'><div class='chatLog'>" + null_message + "</div></div><span id = 'sendTime' >" + Hour + ":" + Min + "</span ></div>");

            // 自動スクロール
            $('#chatArea').animate({ scrollTop: $('#chatArea')[0].scrollHeight }, 'fast');

            if(mute_num == 0){
                // 返事の読み上げ
                const text = new SpeechSynthesisUtterance(null_message);
                speechSynthesis.speak(text);
            }

            // 関数抜ける
            return '';
        };

        // 送信メッセージの表示
        $("#chatLogs").append("<div id='chatTimeSend'><span id = 'sendTime' >" + Hour + ":" + Min + "</span ><div id='sendMessage' class='chatMessage'><div class='chatLog'>" + input_value.value + "</div></div></div>");

        // 自動スクロール
        $('#chatArea').animate({ scrollTop: $('#chatArea')[0].scrollHeight }, 'fast');

        // 入力欄の初期化
        document.getElementById('chatMessage').value = "";

        $.ajax("/show", {
            type: "post",
            data: chatMessage,  // POSTでサーバーに送信するデータ
            dataType: "json",
        }).done(function (data) { // 成功した場合実行される
            // POSTリクエストの結果を受け取ってHTMLを書き換える
            const message = JSON.parse(data.values).message
            if (message.includes('こんにちは') || message.includes('こんばんは') || message.includes('おはよう')) {
                document.getElementById('base_message').value = '1';
            }
            //ネガポジの受取
            const NP = JSON.parse(data.values).NP
            document.getElementById('NPscript').value = NP;
            const ALL_NP = JSON.parse(data.values).ALL_NP;
            document.getElementById('ALL_NPscript').value = ALL_NP;

            // 受信メッセージの表示
            $("#chatLogs").append("<div id='chatTimeGet'><div id='getMessage' class='chatMessage'><div class='chatLog'>" + message + "</div></div><span id = 'sendTime' >" + Hour + ":" + Min + "</span ></div>");

            // 自動スクロール
            $('#chatArea').animate({ scrollTop: $('#chatArea')[0].scrollHeight }, 'fast');

            // 受信メッセージの読み上げ
            if (mute_num == 0) {
                const text = new SpeechSynthesisUtterance(message);
                speechSynthesis.speak(text);
            }

            if (NP > 0 || NP < 0) {
                document.getElementById('facecheckbool').value = '1';
            }

        }).fail(function (data) { // 失敗した場合実行される
            // エラーメッセージの表示
            var errorMsg = '<span class="material-icons">error</span >送信エラーが発生しました';
            $("#chatLogs").append("<div class='chatMessage'><div class='chatLog'>" + errorMsg + "</div></div>");
        });
    }


    // モデル変更機能
    function uploadFormSubmit(input_value) {
        // loading
        var parent = document.getElementById("loadingArea");
        var newElement = document.createElement("div");
        var newContent = document.createElement("div");
        var newChild = document.createElement("p");

        newElement.appendChild(newContent);
        newContent.appendChild(newChild);

        newElement.setAttribute("id", "loading");
        newContent.setAttribute("class", "loader bluelight");

        var newText = document.createTextNode("Now Loading...");
        newChild.appendChild(newText);

        $(newElement).appendTo(parent).hide().fadeIn(300);

        // form送信
        var formData = new FormData($('#uploadForm')[0]);
        $.ajax({
            url: '/upload',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            timeout: 10000
        }).done(function (data) {
            // form要素の削除
            var parent = document.getElementById('modelChangeArea');
            var child = document.getElementById('uploadForm');
            parent.removeChild(child);

            //PATHの受取
            path = JSON.parse(data.values).path

            var modelChangeBtn = document.getElementById("modelChange")

            modelChangeBtn.value = path;

            modelChangeBtn.click();

            // loading要素の削除
            $('#loading').fadeOut('normal');

        }).fail(function () {
            // loading要素の削除
            $('#loading').fadeOut('normal');

            // エラーメッセージの表示
            var errorMsg = '<span class="material-icons">error</span >アップロードに失敗しました';
            $("#chatLogs").append("<div class='chatMessage'><div class='chatLog'>" + errorMsg + "</div></div>");
        });

    };


    // 名前変更機能
    function changeUserName() {
        const newName = $('#renameForm').serialize();

        $.ajax("/rename", {
            type: "post",
            data: newName,  // POSTでサーバーに送信するデータ
            dataType: "json",
        });

        // form要素の削除
        var parent = document.getElementById('renameArea');
        var child = document.getElementById('renameForm');
        parent.removeChild(child);
    }
        // 画像変換機能
        function uploadimg(input_value) {

    var fd = new FormData();
    var fd = new FormData($('#img').get(0));

    $.ajax({
        url:'/img',
        type: "post",
        data: fd,  // POSTでサーバーに送信するデータ
        processData: false,
        contentType: false,
    });
    }
</script>

{% endblock %}
