{% extends "layout.html" %}{% block content %}

<!-- ヘッダー -->
<div id="header">
    <!-- ロゴ画像 -->
    <img src="../static/images/logo.png">
    <!-- room名&ニックネームの表示 -->
    <div id="messageHeader">
        <label class="roomLabel" id="selectRooms"></label>
        <!-- ここに現在のルーム内人数を表示 -->
        <!--<label class="roomLabel" id="nameBox">名前</label>
        <label class="roomMember" id="room">-->
    </div>
</div>

<!-- topに戻るボタン -->
<form id='topMoveBtn' class="back2topBtn" action="/top" method="POST">
    <button type="submit"><span class="material-icons">arrow_back</span></button>
</form>

<!-- room選択画面に戻るボタン -->
<button type="submit" class="back2topBtn btn btn-primary" id="leaveButton" style='display: none;'><span class="material-icons">arrow_back</span></button>

<!-- main area -->
<div id="oekakiMainArea">
    <!-- モデル表示エリア -->
    <div id="modelArea">
    </div>

    <div id="roomChoiceArea">
        <div id="join_message">
            <form v-bind:id=item.id method="POST" action='#' onsubmit="return false;" v-for="item in roomData" :key="item.roomName">
                <p>[[ item.roomName ]]</p>
                <hr>
                <div>
                    <p>
                        <span class="material-icons">group</span>
                        <!-- ここにroomの人数を表示 -->
                    </p>
                    <button type="submit" @click="sendVue(item.roomName)"><span class="material-icons">login</span></button>
                </div>
            </form>
        </div>
        <!--見えないform-->
        <form id='join_form' method="POST" action='#' style="display:none;">
            <input type="text" id="roomNameInput">
            <button id="roomSubmit"></button>
        </form>
    </div>

    <div id="oekakiRoomArea" style="display:none;">
        <div id="flexArea">
            <div id="oekakiCanvasArea">
                <canvas id="oekakiCanvas" width="500" height="400"></canvas>
            </div>
            <div id="oekakiChatArea" class="container">
                <form class="form-inline">
                    <!--<div id="messageHeader">
                        <label class="roomLabel" id="selectRooms">部屋</label>
                        <label class="roomLabel" id="nameBox">名前</label>
                        <label class="roomMember" id="room">
                    </div>-->
                    <div id="allChatLogs">
                        <div id="log"></div>
                    </div>
                </form>
                <form id="castmessage" class="chatSubmitAreaComponent" method="POST" action='#'>
                    <input type="text" name="broadcast_data" id="msg_data" placeholder="メッセージを入力">
                    <button type="submit" class="btn btn-primary" id="sendButton" value="Broadcast"><span class="material-icons">send</span></button>
                </form>
            </div>
        </div>
        <div id="selectArea">
            <div id="selectAreaContents">
                <ul>
                    <li style="background-color:#D61A6A"></li>
                    <li style="background-color:#E68D13"></li>
                    <li style="background-color:#F8F13B"></li>
                    <li style="background-color:#18D37D"></li>
                    <li style="background-color:#1A54D6"></li>
                </ul>
                <div id="button">
                    <button id="large">大</button>
                    <button id="medium">中</button>
                    <button id="small">小</button>
                    <button id="eraser"><span id="rubber"></span><span id="cover"></span></button>
                    <button id="save"><span class="material-icons">file_download</span></button>
                    <button id="clear"><span class="material-icons">delete</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
    integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var socket = io();

        socket.on('connect', function () {
            //socket.emit('my_event', { data: 'I\'m connected!' });
            socket.emit(console.log('I\'m connected!'));
        });

        socket.on('my_response', function (msg, cb) {
            var sendTime = new Date();
            var Hour = sendTime.getHours();
            var Min = sendTime.getMinutes();
            //$('#log').append('<br>' + $('<div/>').text(msg.data + ' ' + Hour + ':' + Min).html());
            if(msg.name == ''){
                $('#log').append('<div class="chatNotificationComponent"><div class="chatLogComponent">' + msg.data + '</div></div>');
            }else{
                $('#log').append('<div class="oekakiChatMessage oekakiChatGetMessage"><div class="oekakiChatName">' + msg.name + '</div><div class="oekakiChatAndTime oekakiChatAndTimeGet"><div class="speechBalloonBase getMessageComponent"><div class="chatLogComponent">' + msg.data + '</div></div><div class="oekakiChatTime">'+ Hour + ':' + Min +'</div></div></div>');
            }
            if (cb)
                cb();
            // チャット欄の自動スクロール機能
            var container = document.getElementById('allChatLogs');
            container.scrollTop = container.scrollHeight;
        });

        //画面幅によって黒板の横幅を動的に変更する
        if (window.innerWidth < 950) {
            //document.getElementById("#oekakiCanvas").width = 300;
            //document.getElementById("#oekakiCanvas").height = 400;
            //document.getElementById("blackCover").style = "height: 35%; background-color: #00000000";
        }

        //入室
        $('form#join_form').submit(function (event) {
            socket.emit('join', { room: $('#roomNameInput').val()});

            enterLabel();

            //チャット送信
            $('form#castmessage').submit(function (event) {
                socket.emit('broadcast_event', { room: $('#roomNameInput').val(), data: $('#msg_data').val()});
                $('#msg_data').val('')
                return false;
            });
            //oekaki開始
            $(function () {
                var offset = 5;
                var fromX;
                var fromY;
                var drawFlag = false;
                var eraserFlag = false;
                var context = $("#oekakiCanvas").get(0).getContext('2d');
                //太さの初期値
                context.lineWidth = 5;

                //色の初期値
                context.strokeStyle = '#D61A6A';

                // サーバからメッセージ受信
                socket.on('send user', function (msg) {
                    tmpColor = context.strokeStyle //色情報を保存
                    tmplineWidth = context.lineWidth //線の太さを保存
                    tmpmode = context.globalCompositeOperation //描画モードを保存
                    context.globalCompositeOperation = msg.mode
                    context.strokeStyle = msg.color;
                    context.lineWidth = msg.lineWidth;
                    context.beginPath();
                    context.moveTo(msg.fx, msg.fy);
                    context.lineTo(msg.tx, msg.ty);
                    context.stroke();
                    context.closePath();
                    context.globalCompositeOperation = tmpmode //描画モードの呼び出し
                    context.lineWidth = tmplineWidth //線の太さを呼び出し
                    context.strokeStyle = tmpColor //色情報を呼び出し
                });

                socket.on('clear user', function () {
                    context.clearRect(0, 0, $('#oekakiCanvas').width(), $('#oekakiCanvas').height());
                });

                $('#oekakiCanvas').mousedown(function (e) {
                    drawFlag = true;
                    fromX = e.pageX - $(this).offset().left - offset;
                    fromY = e.pageY - $(this).offset().top - offset;
                    return false;  // for chrome
                });

                $('#oekakiCanvas').mousemove(function (e) {
                    if (drawFlag) {
                        draw(e);
                    }
                });

                $('#oekakiCanvas').on('mouseup', function () {
                    drawFlag = false;
                });

                $('#oekakiCanvas').on('mouseleave', function () {
                    drawFlag = false;
                });

                //sumaho
                $('#oekakiCanvas').bind({
                    'touchstart': function (e) {
                        drawFlag = true;
                        fromX = e.touches[0].clientX - $(this).offset().left - offset;
                        fromY = e.touches[0].clientY - $(this).offset().top - offset;
                        return false;  // for chrome
                    },

                    'touchmove': function (e) {
                        if (drawFlag) {
                            draw_sumaho(e)
                        }
                    },
                    'touchend': function () {
                        drawFlag = false;
                    }

                });

                $('li').click(function () {
                    context.strokeStyle = $(this).css('background-color');
                    //描画モード
                    context.globalCompositeOperation = 'source-over';
                    eraserFlag = false
                });

                $('#clear').click(function (e) {
                    socket.emit('clear_room_board', { room: $('#roomNameInput').val() });
                    e.preventDefault();
                    context.clearRect(0, 0, $('#oekakiCanvas').width(), $('#oekakiCanvas').height());
                });

                $('#eraser').click(function (e) {
                    //消しゴムモード
                    context.globalCompositeOperation = 'destination-out';
                    context.lineWidth = 20;
                    eraserFlag = true
                });

                $('#large').click(function (e) {
                    context.globalCompositeOperation = 'source-over';
                    context.lineWidth = 10;
                    eraserFlag = false
                });
                $('#medium').click(function (e) {
                    context.globalCompositeOperation = 'source-over';
                    context.lineWidth = 5;
                    eraserFlag = false
                });
                $('#small').click(function (e) {
                    context.globalCompositeOperation = 'source-over';
                    context.lineWidth = 2;
                    eraserFlag = false
                });


                function draw(e) {
                    var toX = e.pageX - $('#oekakiCanvas').offset().left - offset;
                    var toY = e.pageY - $('#oekakiCanvas').offset().top - offset;

                    context.beginPath();
                    context.moveTo(fromX, fromY);
                    context.lineTo(toX, toY);
                    context.stroke();
                    context.closePath();

                    // サーバへメッセージ送信
                    socket.emit('all_broadcast_event', { fx: fromX, fy: fromY, tx: toX, ty: toY, color: context.strokeStyle, lineWidth: context.lineWidth, room: $('#roomNameInput').val(), mode: context.globalCompositeOperation });
                    fromX = toX;
                    fromY = toY;
                }
                function draw_sumaho(e) {
                    var toX = e.touches[0].clientX - $('#oekakiCanvas').offset().left - offset;
                    var toY = e.touches[0].clientY - $('#oekakiCanvas').offset().top - offset;

                    context.beginPath();
                    context.moveTo(fromX, fromY);
                    context.lineTo(toX, toY);
                    context.stroke();
                    context.closePath();

                    // サーバへメッセージ送信
                    socket.emit('all_broadcast_event', { fx: fromX, fy: fromY, tx: toX, ty: toY, color: context.strokeStyle, lineWidth: context.lineWidth, room: $('#roomNameInput').val(), mode: context.globalCompositeOperation });
                    fromX = toX;
                    fromY = toY;
                }

                $('#save').click(function () {
                    var d = $("#oekakiCanvas")[0].toDataURL("image/png");
                    d = d.replace("image/png", "image/octet-stream");
                    window.open(d, "save");
                });
            });
            //oekaki終わり
            $("#leaveButton").click(function () {
                if (confirm('ルームを退出しますか？')) {
                    location.reload();
                }
            });
            return false;
        });
        function enterLabel() {
            isEnter = true;
            $("#selectRooms").append('<span class="material-icons">sensor_door</span>' + $("#roomNameInput").val());

            // 疑似的なページ遷移
            $('#roomChoiceArea').hide();
            $('#oekakiRoomArea').show();

            // 戻るボタンの処理
            $('#topMoveBtn').hide();
            $('#leaveButton').show();
        }
    });
</script>
<script src="static/webpack/build_oekaki.js"></script>

{% endblock %}
