{% extends "layout.html" %}{% block content %}

  <!--
  <form action="/chat" method="POST">
    <input type="submit" value="おはなし">
  </form>

  <form action="/shiritori" method="POST">
    <input type="submit" value="しりとり">
  </form>

  <form action="/quiz" method="POST">
    <input type="submit" value="クイズ">
  </form>

  <form action="/nigaoe" method="POST">
    <input type="submit" value="にがおえ">
  </form>
  -->

  <div id="top">
    <!-- モデル表示エリア -->
    <div id="modelArea">
    </div>
    <p>[[ modelMessage ]]</p>
    <div v-for="item in items" :key="item.id">
      <form v-bind:action="item.root" method="POST">
        <input type="submit" v-bind:value=item.title>
      </form>
    </div>
    <button v-for="item in items" :key="item.id">[[ item.title ]]</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="static/webpack/build_top.js"></script>

{% endblock %}
