{% extends "layout.html" %}{% block content %}

  <!-- モデル表示エリア -->
  <div id="modelArea">
  </div>

  <form action="/chat" method="POST">
    <input type="submit" value="おはなし">
  </form>

  <form action="/shiritori" method="POST">
    <input type="submit" value="しりとり">
  </form>

  <form action="/quiz" method="POST">
    <input type="submit" value="クイズ">
  </form>

  <form action="/nigaoe" method="POST">
    <input type="submit" value="にがおえ">
  </form>

  <script src="static/webpack/build_top.js"></script>

{% endblock %}
