{% extends "layout.html" %}{% block content %}

<!-- ヘッダー -->
<div id="header">
  <img src="../static/images/logo.png">
</div>

<!-- topに戻るボタン -->
<form class="back2topBtn" action="/top" method="POST">
  <button type="submit"><span class="material-icons">arrow_back</span></button>
</form>

<div id="mainContent">
  <!-- モデル表示エリア -->
  <!--<div id="modelArea">
  </div>-->
  <div class="modelAndDialogue">
    <!-- モデル表示エリア -->
    <div id="modelArea">
    </div>
    <p id="message" class="modelMessage">私にまかせてください！</p>
  </div>
  <!-- uploadエリア -->
  <div id="btn" class="upload">
    <form id="img" enctype="multipart/form-data" method="post" onsubmit="return false;">
      <label for="file-sample">
        <div id="fileChoiceBtn" class="btnBase whiteBtn">
          <span class="material-icons">image</span>
          <span>画像を選択</span>
        </div>
        <input type="file" name="image" accept="image/png,image/jpeg" id="file-sample">
      </label>
      <button id="Btn" class="btnBase whiteBtn" onclick="uploading(document.getElementById('upFile'))"><span class="material-icons">send</span><span>送信</span></button>
    </form>
    <div id="nigaoeReplayDisplay" style="display:none">
      <div id="nigaoeResultBtns">
        <button id="nigaoeDownloadBtn" class="btnBase whiteBtn"><a id="download" download><span class="material-icons">file_download</span><span>画像を保存</span></a></button>
        <button id="nigaoeReplayBtn" class="btnBase whiteBtn"><span class="material-icons">replay</span><span>もう一度あそぶ</span></button>
      </div>
    </div>
    <img id="file-preview" style="display:none">
  </div>
</div>

<script src="static/webpack/build_nigaoe.js"></script>
<script>
  function uploading(input_value) {
    var fd = new FormData();
    var fd = new FormData($('#img').get(0));
    $.ajax({
      url: '/img',
      type: "post",
      data: fd,  // POSTでサーバーに送信するデータ
      processData: false,
      contentType: false,
    }).done(function (data) {
      console.log('ok');
      var e_time = new Date();
      var id = e_time.getTime();
      var img = document.getElementById('file-preview');
      var download = document.getElementById('download');
      var submitArea = document.getElementById('img');
      var downloadArea = document.getElementById('nigaoeReplayDisplay');
      img.src = 'static/images/nigaoe/image_r.png?'+id;
      download.href = 'static/images/nigaoe/image_r.png?' + id;
      submitArea.style.display = 'none';
      downloadArea.style.display = 'block';
      var message = document.getElementById('message');
      message.innerHTML = 'できました！みてください！！';
    }).fail(function () {
      console.log('fail');
    });
  }
</script>

{% endblock %}
