{% extends "layout.html" %}{% block content %}

<!-- ヘッダー -->
<div id="header">
  <img src="../static/images/logo.png">
</div>

<!-- topに戻るボタン -->
<form action="/top" method="POST">
  <button type="submit"><span class="material-icons">arrow_back</span></button>
</form>

<!-- モデル表示エリア -->
<div id="modelArea">
</div>

<div id="btn" class="upload">
  <form id="img" enctype="multipart/form-data" method="post" onsubmit="return false;">
    <label for="file-sample">
      画像を選択
      <input type="file" name="image" accept="image/png,image/jpeg" id="file-sample">
    </label>
    <button id="Btn" onclick="uploading(document.getElementById('upFile'))">
      upload</button>
  </form>
  <img id="file-preview" width="500px">
  <a id="download" style="display:none" download>画像を保存する</a>
</div>

<script src="static/webpack/build_nigaoe.js"></script>
<script>
  function uploading(input_value) {
    var fd = new FormData();
    var fd = new FormData($('#img').get(0));
    $.ajax({
      url: '/img',
      type: "post",
      data: fd,  // POSTでサーバーに送信するデータ
      processData: false,
      contentType: false,
    }).done(function (data) {
      console.log('ok');
      var e_time = new Date();
      var id = e_time.getTime();
      var img = document.getElementById('file-preview');
      var download = document.getElementById('download');
      img.src = 'static/images/nigaoe/image.png?'+id;
      download.href = 'static/images/nigaoe/image.png?' + id;
      download.style.display = 'block';
    }).fail(function () {
      console.log('fail');
    });
  }
</script>

{% endblock %}
