{% extends "layout.html" %}{% block content %}

<div id="btn" class="upload">
  <form id="img" enctype="multipart/form-data" method="post" onsubmit="return false;">
    <label for="file-sample">
      画像を選択
      <input type="file" name="image" accept="image/png,image/jpeg" id="file-sample">
    </label>
    <button id="Btn" onclick="uploading(document.getElementById('upFile'))">
      upload</button>
  </form>
  <img id="file-preview" width="500px">
</div>

<script src="static/webpack/build_nigaoe.js"></script>
<script>
  function uploading(input_value) {
    var fd = new FormData();
    var fd = new FormData($('#img').get(0));
    $.ajax({
      url: '/img',
      type: "post",
      data: fd,  // POSTでサーバーに送信するデータ
      processData: false,
      contentType: false,
    }).done(function (data) {
      console.log('ok');
      var e_time = new Date();
      var id = e_time.getTime();
      var img = document.getElementById('file-preview');
      img.src = 'static/images/nigaoe/image.png?'+id;
    }).fail(function () {
      console.log('fail');
    });
  }
</script>

{% endblock %}
