{% extends "layout.html" %}{% block content %}

<div id="quiz">
  <div id="questionShowArea">
    <template v-if="selectQuiz">
      <p>好きなテーマを選んでね！</p>
      <p>難易度：<span class="material-icons">star</span>〜<span class="material-icons">star</span><span class="material-icons">star</span><span class="material-icons">star</span></p>
      <p>（かんたん）</p>
      <p>（むずかしい）</p>
    </template>
    <template v-if="askQuestion">
      <p v-if="questionNumShow">第[[ questionNumShow ]]問</p>
      <p v-if="question">[[ question ]]</p>
      <p>正解：[[ answerText ]]</p>
      <button @click="nextQuestion">次の問題</button>
    </template>
    <template id="yourResult">
      <p v-if="info">[[ info[selectQuizNum].quizNameJa ]]クイズ</p>
      <p v-if="trueCounter == 0">全問不正解でした…</p>
      <p v-if="0 < trueCounter && trueCounter < 10">10問中[[ trueCounter ]]問正解！</p>
      <p v-if="trueCounter == 10">全問正解でした！</p>
      <button>もう1度あそぶ</button>
      <!-- ここにTwitterシェアボタンを表示 -->
      <button>別の問題</button>
    </template>
  </div>
  <div id="optionShowArea">
    <template v-if="quizNameOption">
      <button v-if="info" @click="createQuiz(0)">[[ info[0].quizNameJa ]]<span class="material-icons">star</span></button>
      <button v-if="info" @click="createQuiz(1)">[[ info[1].quizNameJa ]]<span class="material-icons">star</span></button>
      <button v-if="info" @click="createQuiz(2)">[[ info[2].quizNameJa ]]<span class="material-icons">star</span><span class="material-icons">star</span></button>
      <button v-if="info" @click="createQuiz(3)">[[ info[3].quizNameJa ]]<span class="material-icons">star</span><span class="material-icons">star</span><span class="material-icons">star</span></button>
    </template>
    <template id="quizAnswerOption">
      <button v-if="option1" @click="judgeSelectAnswer(1)">[[ option1 ]]</button>
      <button v-if="option2" @click="judgeSelectAnswer(2)">[[ option2 ]]</button>
      <button v-if="option3" @click="judgeSelectAnswer(3)">[[ option3 ]]</button>
      <button v-if="option4" @click="judgeSelectAnswer(4)">[[ option4 ]]</button>
    </template>
    <template id="resultRanking">
      <p>ここにランキングを表示</p>
    </template>
  </div>

  <!-- testArea -->
  <!-- クイズジャンルが格納されたJSONデータ -->
  <!-- <p v-if="info">[[ info[0].quizName ]]</p> -->
  <!-- 選択したジャンルのJSONデータ -->
  <!-- <p v-if="quiz">[[ quiz ]]</p> -->
  <!-- 今回出題する問題の配列 -->
  <!-- <p v-if="quizNumArr">[[ quizNumArr ]]</p> -->
  <!-- 第○問目 -->
  <!-- <p v-if="questionNumUse">[[ questionNumUse ]]</p> -->
  <!-- 取得したクイズの各項目 -->
  <!--<p v-if="question">[[ question ]]</p>
  <p v-if="option1">[[ option1 ]]</p>
  <p v-if="option2">[[ option2 ]]</p>
  <p v-if="option3">[[ option3 ]]</p>
  <p v-if="option4">[[ option4 ]]</p>
  <p v-if="answer">[[ answer ]]</p>
  <button @click="nextQuestion">次の問題</button> -->
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script src="static/webpack/build_quiz.js"></script>

{% endblock %}
