#btnArea{
  width: 100%;
  padding: 1rem 4rem;
  #btnFlex{
    width: fit-content;
    display: flex;
    gap: 2rem;
    margin: 0 0 0 auto;
    .iconBtn{
      width: fit-content;
      height: fit-content;
      color: $logo-main-color;
    }
    #recNow{
      color: $rec-now;
    }
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
  #btnArea{
    padding: 1.5rem 2rem;
  }
}
