#mainArea{
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  #chatArea{
    width: 25rem;
    position: relative;
    overflow: scroll;
    #chatLogs{
      min-height: 93%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem 1rem;
      position: inherit;
      #sendTime{
        width: fit-content;
        height: fit-content;
        font-size: 0.7rem;
      }
      #chatTimeSend{
        width: fit-content;
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;
        margin: 0 0 0 auto;
        #sendMessage{
          position: relative;
          display: inline-block;
          margin-right: 15px;
          min-width: 120px;
          max-width: 100%;
          background: $BG-send-message;
          max-width: 15rem;
          border-radius: 15px;
          padding: 0.7rem 1rem;
          &::before{
            content: "";
            position: absolute;
            top: 70%;
            left: 95%;
            margin-top: -15px;
            border: 10px solid transparent;
            border-left: 25px solid $BG-send-message;
          }
          .chatLog{
            margin: 0;
            padding: 0;
          }
        }
      }
      #chatTimeGet{
        width: fit-content;
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;
        margin: 0 auto 0 0;
        #getMessage{
            position: relative;
            display: inline-block;
            margin-left: 15px;
            padding: 7px 10px;
            min-width: 120px;
            max-width: 100%;
            background: $BG-get-message;
            max-width: 15rem;
            border-radius: 15px;
            padding: 0.7rem 1rem;
            &::before{
              content: "";
              position: absolute;
              top: 70%;
              left: -30px;
              margin-top: -15px;
              border: 10px solid transparent;
              border-right: 25px solid $BG-get-message;
            }
          }
        }

    }
    #chatSubmitForm{
      width: 100%;
      position: sticky;
      bottom: 0;
      #chatSubmitFormItem{
        width: fit-content;
        max-width: fit-content;
        display: flex;
        background-color: $BG-chat-input;
        border-radius: 5rem;
        padding: 0.5rem 1.3rem;
        margin: 0 auto;
        gap: 1rem;
        #chatMessage{
          width: 15rem;
        }
      }
      .chatBtn{
        display: flex;
        align-items: center;
      }
      .recordBtn{
        span{
          color: $logo-main-color;
        }
      }
      #chatSubmitBtn{
        color: $icon-submit-true;
      }
    }
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
  #mainArea{
    margin: 0 auto;
    flex-direction: column-reverse;
    #modelArea{
      width: fit-content;
      margin: 0 auto;
    }
    #chatArea{
      width: 20rem;
      margin: 0 auto;
      #chatLogs{
        min-height: 93%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 1rem;
        position: inherit;
        #sendTime{
          width: fit-content;
          height: fit-content;
          font-size: 0.7rem;
        }
        #chatTimeSend{
          width: fit-content;
          display: flex;
          align-items: flex-end;
          gap: 0.5rem;
          margin: 0 0 0 auto;
          #sendMessage{
            position: relative;
            display: inline-block;
            margin-right: 15px;
            min-width: 120px;
            max-width: 100%;
            background: $BG-send-message;
            max-width: 15rem;
            border-radius: 15px;
            padding: 0.7rem 1rem;
            &::before{
              content: "";
              position: absolute;
              top: 70%;
              left: 95%;
              margin-top: -15px;
              border: 10px solid transparent;
              border-left: 25px solid $BG-send-message;
            }
            .chatLog{
              margin: 0;
              padding: 0;
            }
          }
        }
        #chatTimeGet{
          width: fit-content;
          display: flex;
          align-items: flex-end;
          gap: 0.5rem;
          margin: 0 auto 0 0;
          #getMessage{
              position: relative;
              display: inline-block;
              margin-left: 15px;
              padding: 7px 10px;
              min-width: 120px;
              max-width: 100%;
              background: $BG-get-message;
              max-width: 15rem;
              border-radius: 15px;
              padding: 0.7rem 1rem;
              &::before{
                content: "";
                position: absolute;
                top: 70%;
                left: -30px;
                margin-top: -15px;
                border: 10px solid transparent;
                border-right: 25px solid $BG-get-message;
              }
            }
          }

      }
      #chatSubmitForm{
        width: 100%;
        position: sticky;
        bottom: 0;
        #chatSubmitFormItem{
          width: fit-content;
          max-width: 18rem;
          display: flex;
          background-color: $BG-chat-input;
          border-radius: 5rem;
          padding: 0.5rem 1.3rem;
          margin: 0 auto;
          gap: 1rem;
          #chatMessage{
            width: 11rem;
          }
        }
        #chatSubmitBtn{
          color: $icon-submit-true;
        }
      }
    }
  }
}
/* mobileここまで */
