/* 変数宣言 */
$logo-main-color:#013E6A;
$BG-modal:#ffffff;
$loading-color-thin: #daf6ff;
$loading-color-normal: rgba(10, 175, 230, 0);
$loading-text-color: #3e6d7e;
$BG-chatArea: #ffffff;
$BG-chatSubmitForm: #0aafe6;
$BG-chat-input: #ffffff;
$icon-submit-true: #0059be;
$shadow-send-message: #f0f0f0;
$BG-send-message: #2bbcff;
$BG-get-message: #cbeeff;
$BG-header: #f4fbff;
$rec-now: #eb1a1a;
$btn-blue-BG: #8AD9FB;
$btn-blue-text: #1E6D90;
$BG-white-thin: #fffffff3;
$text-main: #013E6A;

.back2topBtn{
  width: fit-content;
  position: absolute;
  margin: 2rem;
}

.btnBase{
  color: $btn-blue-text;
  font-weight: bold;
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  border: 1px solid $btn-blue-text;
}

.blueBtn{
  background-color: $btn-blue-BG;
}

.whiteBtn{
  background-color: #ffffff;
}

.whiteInputText{
  width: 10rem;
  border: 1px solid $logo-main-color;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
}

.modelAndDialogue{
  position: relative;

  .modelMessage{
    width: fit-content;
    max-width: 90%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: $BG-white-thin;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    color: $text-main;
    font-size: 1.1rem;
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
  .modelAndDialogue{
    .modelMessage{
      top: 80%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      padding: 1.5rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
    }
  }
}
/* mobileここまで */
