/* 変数宣言 */
$logo-main-color:#013E6A;
$BG-modal:#ffffff;
$loading-color-thin: #daf6ff;
$loading-color-normal: rgba(10, 175, 230, 0);
$loading-text-color: #3e6d7e;
$BG-chatArea: #ffffff;
$BG-chatSubmitForm: #0aafe6;
$BG-chat-input: #ffffff;
$icon-submit-true: #0059be;
$shadow-send-message: #f0f0f0;
$BG-send-message: #2bbcff;
$BG-get-message: #cbeeff;
$BG-header: #f4fbff;
$rec-now: #eb1a1a;
