#header{
  width: 100vw;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  background-color: $BG-header;
  align-items: center;
  padding: 1.2rem 3rem 1rem;
  img{
    width: 30%;
    max-width: 20rem;
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
  #header{
  width: 100vw;
  height: 5rem;
  padding: 0.8rem 1rem 0.5rem;
  img{
    width: 60%;
    max-width: 15rem;
  }
}
}
/* mobileここまで */
