#nigaoeBackBtn{
  width: fit-content;
  position: absolute;
  margin: 2rem;
}

#mainContent{
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: 0 auto;

  #modelArea{
    width: fit-content;
  }

  #btn{
    width: 28rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;

    #img{
      width: fit-content;
      display: flex;
      gap: 6rem;
      margin: 0 auto;

      label{
        #fileChoiceBtn{
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        input{
          display: none;
        }
      }

      #Btn{
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    #nigaoeResultBtns{
      width: fit-content;
      display: flex;
      gap: 6rem;
      margin: 0 auto;

      #nigaoeDownloadBtn{
        a{
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }

      #nigaoeReplayBtn{
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    #file-preview{
      max-width: 28rem;
      border: 6px solid #ffffff;
    }
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
  #mainContent{
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;

  #modelArea{
    width: fit-content;
  }

  #btn{
    width: fit-content;
  }
}
}
/* mobileここまで */
