@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

#openingForm{
  width: 100vw;
  height: 100vh;
  background-color: $BG-modal;
  z-index: 9000;

  #openingFormContents{
    opacity: 0;
    transition: 1500ms;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    &.is-fadein {
      opacity: 1;
    }

    img{
      display: block;
      width: 25rem;
      margin: 0 auto;
    }

    #openingFormText{
      width: fit-content;
      display: flex;
      font-family: 'Gruppo', cursive;
      color: $logo-main-color;
      font-size: 1.7rem;
      gap: 0 1rem;
      margin: 0 auto;
    }

    #openingForm{
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      margin: 5rem auto;

      #soundCheckbox{
        width: fit-content;
        margin: 0 auto;
      }

      #openingBtn{
        width: fit-content;
        margin: 0 auto;
      }

      #openingFormCustomize{
        width: fit-content;
        margin: 0 auto;
      }

      #soundCheckbox{
        width: fit-content;
        margin: 0 auto;
      }

      #yourNameInput{
        width: fit-content;
        margin: 0 auto;
      }

      #AInameInput{
        width: fit-content;
        margin: 0 auto;
      }

      #vrmChoiceBtn{
        width: fit-content;
        margin: 0 auto;
      }

      #upFile{
        display: none;
      }
    }
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
  #openingForm{
    #openingFormContents{
      img{
        width: 15rem;
      }
      #openingFormText{
        font-size: 1.3rem;
        gap: 0 0.8rem;
      }
    }
  }
}
/* mobileここまで */
