#shiritoriMainArea{
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: 3rem auto 0;

  #shiritori{
    width: fit-content;
    height: fit-content;
    margin: auto;

    #shiritoriChoiceArea{
      background-color: $BG-white-thin;
      border-radius: 10px;
      padding: 3rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      color: $text-main;

      .shiritoriChoice{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;

        .shiritoriRadio{
          display: flex;
          flex-direction: row;
          gap: 0.5rem;

          input{
            display: none;
            &:checked + label{
              background-color: $btn-blue-BG;
            }
          }
        }
      }

      hr{
        color: $border-gray;
      }

      button{
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}

.shiritoriChatArea{
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.shiritoriSubmitArea{
  width: fit-content;
  max-width: fit-content;
  display: flex;
  background-color: #ffffff;
  border-radius: 5rem;
  padding: 0.5rem 1.3rem;
  margin: 0 auto;
  gap: 1rem;

  button{
    color: $logo-main-color;
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
}
/* mobileここまで */
