#tutorial{
  background-color: #ffffffe0;
  padding: 2rem;
  border-radius: 10px;
  color: $logo-main-color;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  #tutorialTitleFlex{
    display: flex;
    align-items: center;
    justify-content:space-between;

    #roomPeoples{
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  #tutorial_img{
    width: fit-content;
    display: flex;
    gap: 1rem;

    img{
      width: 16rem;
    }
  }

  #tutorialBtns{
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 5rem;
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
}
/* mobileここまで */
