#tutorial{
  background-color: #ffffffe0;
  padding: 3rem 2rem;
  border-radius: 10px;
  color: $logo-main-color;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  #tutorialTitleFlex{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10rem;
    margin: 0 auto;

    #tutorialTitle{
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
    }

    #roomPeoples{
      background-color: $btn-blue-BG;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.7rem 1.3rem;
      border-radius: 10px;
    }
  }

  #tutorial_img{
    width: fit-content;
    display: flex;
    gap: 1rem;
    margin: 0 auto;

    img{
      width: calc(100vw*(2/13));
    }
  }

  #tutorialBtns{
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 5rem;
  }
}

/* mobileここから */
@media screen and (max-width: 950px) {
}
/* mobileここまで */
